<link rel="stylesheet" href="public/scss/foot.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<footer>
    <div class="main-content">
        <div class="left box">
         <h2>Short Info</h2>
   <div class="content">
            <p>Hi! I'm Timothy and I was born in India.</p>

</div>
</div>
<div class="center box">
          <h2>Social Links</h2>
    <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
    </div>
</div>
<div class="right box">
          <h2>Copy Right</h2>

<div class="bottom">
      <center style="width: 100%;">
        <h2>&copy; Timothy
<script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> ||All Rights Reserved</h2>  
      </center>
</div>

</footer>
<script src="public/js/foot.js"></script>