<link rel="stylesheet" href="public/scss/header.css">
<header class="navbar">
    <div class="bethany">
    <a class="logo" href="/">Timothy's Site</a>
    </div>
    <a href="#" class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
    <ul>
        <li><a class="links" href="/">Home</a></li>
        <li><a class="links" href="/about">About Me</a></li>
        <li><a class="links" href="/contact">Contact Me</a></li>
        {{!-- <li><a class="links" href="/anything">Anything</a></li>
        <li><a class="links" href="/another">Home</a></li> --}}
    </ul>
</div>
</header>
<script>
    window.addEventListener("scroll",function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky",window.scrollY > 0);
    })
</script>
<script src="public/js/header.js"></script>